<ion-header>
  <ion-toolbar class="naranjo">
    <ion-title>RegistrarAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item  *ngIf="data" >
    Bienvenido/a @{{data}}
  </ion-item>
  <ion-img src="assets/images/inicio.svg"></ion-img>
  <ion-button class="naranjo ion-margin-top" expand="full" routerLink="/login">
    <ion-icon name="person" slot="start"></ion-icon>
    Perfil
  </ion-button>
  <ion-button class="naranjo ion-margin-top" expand="full" (click)="leerQR()">
    <ion-icon name="calendar-number" slot="start"></ion-icon>
    Asistencia QR
  </ion-button>
  <ion-button class="naranjo ion-margin-top" expand="full" routerLink="/login">
    <ion-icon name="construct" slot="start"></ion-icon>
    Configuración
  </ion-button>
  <ion-button class="naranjo ion-margin-top" expand="full" (click)="logout()">
    <ion-icon name="caret-back-circle-outline" slot="start"></ion-icon>
    Cerrar Sesión
  </ion-button>
</ion-content>
